.secret {
    display: flex;
    flex-direction: column;
    height: 100%;

    header {
        display: flex;
        background-color: $gray-700;
        padding: 10px;

        .btn {
            margin-left: auto;
            padding: 5px 50px;
        }
    }

    footer {
        margin-top: auto;
        background-color: $gray-100;
        padding: 10px;
        text-align: center;
    }
}