.beta {
    font-family: $font-family;
    background-color: $yellow;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        font-size: 120px;
        margin-bottom: 60px;
        line-height: 80px;
        text-transform: uppercase;

        span {
            display: block;
            font-size: 46px;
        }
    }

    form {
        position: relative;
        padding-bottom: 20px;
    }

    label {
        margin-bottom: 5px;
        opacity: 0.6;
    }

    label,
    .error {
        margin-left: 12px;
    }

    .form-group {
        display: flex;
        flex-direction: row;
    }

    .form-control {
        &:focus {
            box-shadow: $shadow;
        }
    }

    .btn,
    .form-control {
        border: 5px solid black;
    }

    .btn {
        border: 5px solid black;
        box-sizing: border-box;
        padding: 3px 50px;
        margin-left: 20px;

        &:hover {
            box-shadow: $shadow;
        }
    }

    .error {
        position: absolute;
    }

    @include media-breakpoint-down(sm) {
        h1 {
            font-size: 80px;
            margin-bottom: 40px;
            line-height: 60px;
            text-transform: uppercase;
            text-align: center;

            span {
                display: block;
                font-size: 30px;
            }
        }

        label {
            margin: 0 0 5px 12px;
            font-size: 12px;
        }

        .form-group {
            flex-direction: column;
        }

        .btn {
            border: 5px solid black;
            box-sizing: border-box;
            padding: 3px 50px;
            margin: 10px auto;
        }
    }
}
